@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Verdana';
  src: url('/assets/fonts/verdana/verdana.ttf') format('opentype');
}

@font-face {
  font-family: 'OpenSans';
  src: url('/assets/fonts/openSans/open-sans.ttf') format('opentype');
}
